<%- include('./layouts/header.ejs') %>

    <!-- TOPO -->
    <%- include('./top.ejs')  %> 

    <!-- ONEVALUE -->
    <%- include('./onevalue.ejs')  %> 

    <!-- ROCKET -->
    <%- include('./rocket.ejs')  %> 

    <!-- MÓDULO -->
    <%- include('./module.ejs')  %> 

    <!-- MÉTODO -->
    <%- include('./method.ejs')  %> 

    <div class="border-shadow-green"></div>

    <!-- FEEDBACK -->
    <%- include('./feedback.ejs')  %> 

    <!-- INSCREVA-SE -->
    <%- include('./subscribe.ejs')  %> 

    <div class="border-shadow-green mt-5"></div>

    <!-- MAURO -->
    <%- include('./mauro.ejs')  %> 
    
    <!-- SATISFAÇÃO -->
    <%- include('./satisfaction.ejs')  %> 
    
    <!-- APP -->
    <%- include('./app.ejs')  %> 

    <!-- FAQ -->
    <%- include('./faq.ejs')  %> 

    <%- include('./layouts/footer.ejs') %>